* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #f5f7fa;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 70px;
  margin-left: 70px;
}

nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  width: 100%;
}
nav img {
  height: 50px;
  width: 200px;
}

a {
  text-decoration: none;
  color: #18191f;
  font-size: 18px;
}

a:hover {
  color: darkgray;
  text-decoration: underline;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

button {
  border-radius: 10px;
  height: 35px;
  width: 100px;
  font-weight: 600;
}

.navBtns {
  display: flex;
  gap: 10px;
}

.loginBtn {
  background-color: transparent;
  border-style: none;
  color: green;
}

.loginBtn:hover {
  color: white;
  background-color: green;
  border-color: rgb(0, 31, 0);
}

.signUpBtn {
  background-color: green;
  color: white;
}

.signUpBtn:hover {
  color: green;
  background-color: white;
}

.registerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  gap: 140px;
}

.registerBody {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 90px;
  padding:0 100px  ;
  margin-left: -5%;
}


.home {
  width: 650px;
}

.home button {
  background-color: #4caf4f;
  color: white;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: #4caf4f;
  width: 128px;
}

.home button:hover {
  background-color: white;
  color: #4caf4f;
}

.headline {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  width: 650px;
}

.headline2 {
  color: green;
  font-weight: 600;
  font-size: 64px;
}

.headline3 {
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
}

.registerSection img {
  height: 400px;
  width: 390px;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: -120px;
}

.ellipsis div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #4caf4f;
}

.ell1 {
  background-color: darkgreen;
  border: none;
}

.clientSection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
}

.p1 {
  margin-top: 20px;
  font-size: 44px;
  font-weight: 600;
  color: #4d4d4d;
}

.p2 {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}

.logos {
  width: 1051px;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.logos img {
  height: 35px;
}

.achievements {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 288px;
  gap: 100px;
  margin-top: 40px;
  margin-left: 5%;
  
}

.achievementHeading {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 120px;
}

.achP1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #4d4d4d;
}

.achP2 {
  color: #4caf4f;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}

.achP3 {
  color: #18191f;
  line-height: 24px;
  font-weight: 400;
}

.row1,
.row2 {
  height: 60px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 100px;
}

.cont {
  display: flex;
  align-items: center;
  width: 255px;
}

.cont img {
  height: 28px;
  width: 38px;
}

.count {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 5px 0 0 10px;
  color: #4d4d4d;
}

.contentName {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: -10px 0 0 10px;
  color: #717171;
}

.marketingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 506;
  background-color: white;
  width: 100%;
}

.marketingSection p:nth-child(1) {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  margin-left: 200px;
  color: #4d4d4d;
  margin-top: 80px;
}

.marketingSection p:nth-child(2) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #717171;
  width: 628px;
  margin-top: 10px;
  height: 72px;
  margin-left: 200px;
}

.frames {
  height: 366px;
  top: 140px;
  padding: 20px 80px;
  gap: 30px;
  justify-content: space-between;
  display: flex;
}

.frames img {
  width: 340px;
  height: 260px;
  border-radius: 8px;
}

.marketingContent {
  display: flex;
  justify-content: center;
  display: flex;
  width: 317px;
  height: 176px;
  padding: 16px 0px 20px 0px;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #abbed166;
  background-color: #f5f7fa;
  position: absolute;
  z-index: 1;
  margin-top: -100px;
  margin-left: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  width: 317px;
  height: 176px;
  padding: 16px;
}

.text h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  width: 285px;
  height: 84px;
  color: #717171;
}

.readMore {
  color: #4caf4f !important;
  justify-content: center !important;
  margin-left: 0px !important;
  font-family: Inter !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 28px !important;
  cursor: pointer;
}

.landingSection {
  background-color: white;
  width: 100%;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingSection img {
  height: 433px;
  width: 441px;
  align-items: center;
  justify-content: right;
  margin-top: 130px;
}

.landingSection div {
  width: 661px;
  height: 308px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.landingSection div h2 {
  width: 601px;
  height: 88px;
  font-family: Inter;
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: #4d4d4d;
}

.landingSection div p {
  width: 601px;
  height: 120px;
  font-family: Inter;
  font-size: 13.4px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #717171;
}

.landingSection div button{
  width: 151px;
  height: 52px;
  justify-content: left;
  border-radius: 4px;
  padding: 14px 32px 14px 32px;
  margin-left: -450px;
  background-color: #4caf4f;
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  font-family: Inter;
}

.landingSection div button:hover{
  color: #4caf4f;
  background-color: #ffffff;
}

footer{
  width: 100%;
  height: 290px;
  background-color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 110px;
}

footer div{
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 350px;
}

.footerLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: -100px;
  margin-bottom: -15px;
}

.footerLogo object:nth-child(1){
  height: 25px;
  top: 16px;
  left: 28px;
}

.footerLogo object:nth-child(2){
  height: 25px;
  width: 138px;
}

footer div p{
  font-weight: 400;
  font-family: Inter;
  font-size: 14px;
  color: #F5F7FA;
  width: 350px;
  height: 20px;
  line-height: 20px;



}

.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 176px;
  height: 32px;
}

.socials div{
  margin-top: 40px;
  width: 32px;
  height: 32px;
  background-color: #3b464c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials div object{
  height: 17px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links{
  display: flex;
  flex-direction: row;
  width: 635px;
  height: 200px;
  gap: 30px;
}

.links ul{
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.footerLinks,h5{
  color: #F5F7FA;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 160px;
}

h5{
  font-weight: 600;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.message{
  display: flex;
  width: 255px;
  height: 92px;
  gap: 24px;
  margin-top: -22px;
}

.message h1{
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

.message div{
  height: 40px;
  width: 255px;
  position: relative;
} 

.message div input{
  background-color:#515b60 ;
  border-radius: 8px;
  height: 40px;
  width: 255px;
  color: #ffffff;
  margin-top: 7px; 
  padding: 2px 30px 2px 5px;
  border: 1px solid transparent;
}

.message div input::placeholder {
  color: #ffffff;
  opacity: 80%; 
}

.message div object{
  width: 17px;
  height: 17px;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 10px;
}